<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.weingardt.mylyn.gitlab.ui"
         name="%repository.name"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorUi
      		brandingIcon="icons/gitlab-icon.gif"
            class="de.weingardt.mylyn.gitlab.ui.GitlabConnectorUI"
            id="de.weingardt.mylyn.gitlab.ui"
            name="Gitlab Connector Ui"
            overlayIcon="icons/gitlab-overlay.gif"/>
   </extension>
   <extension point="org.eclipse.mylyn.tasks.ui.editors">
         <pageFactory
            class="de.weingardt.mylyn.gitlab.ui.GitlabEditorPageFactory"
            id="de.weingardt.mylyn.gitlab.ui.pageFactory">
      </pageFactory>
   </extension>
</plugin>
